[Unit]
Description=Run scripts on start
After=network-online.target

[Service]
Type=simple
User=pi
Group=pi
ExecStart=%h/on-start.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target